---
import Header from "../../components/Header.astro";
import Bienvenida from "../../components/Bienvenida";


---

<html lang="es">
    <meta charset="UTF-8" />
<head>
<Header/>
<Bienvenida client:only="react" />
</head>
<body>

</body>
</html>
