---
import Layout from '../layouts/YawiSolve.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Layaout principal
	</p>

	<p>
		Sobre Agritracer 
	</p>

	<p>
		Sobre Yawi
	</p>

</Layout>
