---
import HeaderModule from '../components/HeaderModule.astro';
import VideoCard from '../components/VideoCard.astro';
import SwitchVideo from '../components/SwitchVideo.astro';
import videosData from '../data/videos.json';
import '../styles/global.css';

interface Video {
    id: string;
    title: string;
    description: string;
    category: string;
    platform: string;
    duration: string;
    url: string;
}


let selectedPlatform: string = "WEB";


let filteredVideos: Video[] = [];

function handlePlatformChange(platform: string): void {
    selectedPlatform = platform;
    updateFilteredVideos();
}


function updateFilteredVideos(): void {
    filteredVideos = videosData.videos.filter(
        (video: Video) => video.category === "Sanidad" && video.platform === selectedPlatform
    );
}


updateFilteredVideos();
---
<html lang="es">
    <meta charset="UTF-8" />
    <body>
        <HeaderModule title="Sanidad" />
        <main>
        <h1>Tutoriales de Sanidad</h1>

        <SwitchVideo
            selectedPlatform={selectedPlatform}
            onPlatformChange={handlePlatformChange}
        />

        {filteredVideos.length > 0 ? (
            <VideoCard videos={filteredVideos} />
        ) : (
            <p class="no-videos">Pronto nuevos videos</p>
        )}
        </main>
    </body>
</html>

<style>
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        color: #204f72;
        font-size: 2rem;
    }

    .no-videos {
        text-align: center;
        margin-top: 2rem;
        font-size: 1.5rem;
        color: #888;
    }
</style>

