---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Bienvenida from '../components/Bienvenida.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import VideosRecomendados from '../components/VideosRecomendados.astro';
import 'flowbite';
import "../styles/global.css";
import CardCarousel from '../components/CardCarrusel';


const empresa = "Agricola Leo's Produce";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Bienvenida empresa={empresa} />
			<CardCarousel client:load/>
			<VideosRecomendados />	
		</main>
		<Footer />
	</body>
</html>
<script is:inline>
	document.addEventListener("DOMContentLoaded", () => {
	  const token = localStorage.getItem("token");
  
	  if (!token) {
		window.location.href = "/login";  // 🔹 Si no hay sesión, redirigir al login
	  }
	});
  </script>
  