---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import 'flowbite';
import "../styles/global.css";
import VideosRecomendados from '../components/VideosRecomendados.astro';
import Bienvenida from '../components/Bienvenida.jsx';
import CardCarrusel from '../components/CardCarrusel.tsx';
---

<!doctype html>
<html lang="es">
<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
  <Header />
  <main>
    <Bienvenida client:only="react" />
    <CardCarrusel client:only="react" />
    <VideosRecomendados />
  </main>
  <Footer />
</body>
</html>


