---
import Header from '../components/Header.astro';
import VideoCard from '../components/VideoCard.astro';
import videosData from '../data/videos.json';

interface Video {
  id: string;
  title: string;
  description: string;
  category: string;
  platform: string;
  duration: string;
  url: string;
}
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Maquinaria</title>
  </head>
  <body class="bg-slate-100">
    <Header />
    <main class="py-8">
      <h1 class="text-4xl font-semibold text-center text-gray-800 mb-8">Tutoriales de Maquinaria</h1>

      <!-- Botones de filtro -->
      <div class="flex justify-center gap-4 mb-8">
        <button
          id="web-button"
          class="px-6 py-2 rounded-lg bg-slate-200 text-slate-800 font-medium transition-colors hover:bg-slate-500 hover:scale-[1.01] active:bg-slate-600"
          data-platform="WEB"
        >
          WEB
        </button>
        <button
          id="movil-button"
          class="px-6 py-2 rounded-lg bg-slate-200 text-slate-800 font-medium transition-colors hover:bg-slate-500 hover:scale-[1.01] active:bg-slate-600"
          data-platform="MOVIL"
        >
          MOVIL
        </button>
      </div>

      <!-- Contenedor de videos -->
      <div id="video-container" class="mx-auto max-w-4xl px-4">
        <!-- Videos WEB -->
        <div id="web-videos" class="space-y-6">
          <VideoCard videos={videosData.videos.filter(
            (video) => video.platform === "WEB" && video.category === "Maquinarias"
          )} />
        </div>

        <!-- Videos MOVIL -->
        <div id="movil-videos" class="space-y-6 hidden">
          <VideoCard videos={videosData.videos.filter(
            (video) => video.platform === "MOVIL" && video.category === "Maquinarias"
          )} />
        </div>
      </div>
    </main>

    <script is:inline>
      document.addEventListener("DOMContentLoaded", () => {
        const webButton = document.getElementById("web-button");
        const movilButton = document.getElementById("movil-button");
        const webVideos = document.getElementById("web-videos");
        const movilVideos = document.getElementById("movil-videos");

        const showVideos = (platform) => {
          if (platform === "WEB") {
            webVideos.classList.remove("hidden");
            movilVideos.classList.add("hidden");
            webButton.classList.add("bg-slate-400");
            movilButton.classList.remove("bg-slate-400");
          } else if (platform === "MOVIL") {
            movilVideos.classList.remove("hidden");
            webVideos.classList.add("hidden");
            movilButton.classList.add("bg-slate-400");
            webButton.classList.remove("bg-slate-400");
          }
        };

        // Manejar clics en botones
        webButton.addEventListener("click", () => showVideos("WEB"));
        movilButton.addEventListener("click", () => showVideos("MOVIL"));
      });
    </script>
  </body>
</html>