---
import HeaderModule from '../components/HeaderModule.astro';
---
<html lang="es">
    <body>
        <HeaderModule title="Sanidad" />
        <main>
        <h1>Tutoriales de Sanidad</h1>
        </main>
    </body>
</html>

<style>
    h1 {
        display: flex;
        justify-content: center;
		align-items: center;
    }
</style>