---
interface Props {
    videoId: string;
}

const { videoId } = Astro.props;
---
<a
    href={`/videos/${videoId}`}
    class="inline-block px-6 py-2 bg-slate-800 text-white text-lg font-bold rounded-lg transition-colors hover:scale-[1.05] hover:bg-slate-900 focus:outline-none focus:ring-2 focus:ring-slate-800 focus:ring-offset-2"
    >
    Ver Tutorial
</a>
