---
import Image from "astro/components/Image.astro";
import myLogo from '../assets/SOLVE.png';
import Logout from "./Logout.astro";
import ButtonPerfil from "./ButtonPerfil.astro";
import SearchBar from "./SearchBar.astro";

---

<header class="w-full bg-white shadow-md px-4 py-4 flex items-center justify-between relative">
    <div class="flex items-center px-4 mx-4">
        <a href="/Inicio">
            <Image src={myLogo} alt="Logo Yawi Solve" class="w-44 h-auto max-w-full" />
        </a>
    </div>

    <nav class="absolute left-1/2 transform -translate-x-1/2 flex items-center">
        <SearchBar />
    </nav>

    <div class="inline-flex items-center justify-center px-2 mx-2">
        <ButtonPerfil />
        <Logout />
    </div>
</header>








