<form class="w-full max-w-md">   
    <label for="default-search" class="sr-only">Buscar</label>
    <div class="relative">

        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        
        <input 
            type="search" 
            id="default-search" 
            class="block w-full p-3 ps-10 text-sm border border-gray-300 rounded-lg bg-gray-50 focus:ring-slate-800 focus:border-slate-800"
            required 
        />

        <button 
            type="submit" 
            class="absolute inset-y-0 end-0 my-auto px-4 py-2 bg-slate-800 text-white font-bold rounded-lg transition-colors hover:scale-[1.05] hover:bg-slate-900 focus:outline-none focus:ring-2 focus:ring-slate-800 focus:ring-offset-2"
        >
            Buscar
        </button>
    </div>
</form>

