---
import { getVideos } from '../services/api';

interface Video {
    id: number;
    titulo: string;
    url_s3: string;
    modulo_id: number;
}

async function getRandomVideos(count: number): Promise<Video[]> {
    const videos = await getVideos(); // Obtener videos desde la API
    const shuffled = [...videos].sort(() => 0.5 - Math.random());
    return shuffled.slice(0, count);
}

// Seleccionar 6 videos aleatorios
const recommendedVideos: Video[] = await getRandomVideos(6);
---

<section class="bg-slate-100 py-8">
    <h2 class="text-4xl font-semibold text-center text-slate-500 mb-8">Recomendación de Tutoriales</h2>
    <div class="mx-auto max-w-8xl px-20">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
            {recommendedVideos.map((video) => (
                <a href={`/videos/${video.id}`} class="group relative block overflow-hidden rounded-2xl bg-white shadow-md transition-all hover:scale-[1.05] hover:shadow-xl">
                    <div class="w-full h-80 overflow-hidden">
                        <video controls class="w-full h-full object-cover">
                            <source src={video.url_s3} type="video/mp4" />
                        </video>
                    </div>
                    <div class="absolute inset-x-0 bottom-0 z-20 rounded-b-2xl bg-gradient-to-b from-transparent via-black/60 to-black/90 p-6 text-white">
                        <h3 class="my-2 text-2xl font-bold">{video.titulo}</h3>
                    </div>
                </a>
            ))}
        </div>
    </div>
</section>
